body{
    background-color: rgb(95, 95, 95);
    color: white;
    
}

header{
    text-align: center;

}
section{
background-color: white;
width: 400px;
text-align: center;
border-radius: 10px;
padding: 10px;
margin: auto;
color: black;
font: bold 15px arial;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
}

div#tab{
    padding: 10px;
    text-align: left;

}

footer{
    text-align: center;
    font-style: italic;

}